.lgpd {
   position: fixed;
   left: 20px;
   right: 20px;
   bottom: 20px;
   padding: 15px;
   background-color: #f1f1f1;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 999;

}

.lgpd button {
    background-color: #9abf5f;
    border: 0;
    cursor: pointer;
    padding: 20px 40px;
}

.lgpd button:hover {
    background-color: #496a21;
}
